/* ==========================================================================
Layout
========================================================================== */
html,
body,
.oc-container,
.oc-pusher,
.oc-content {
	height: 100%;
}
.oc-content {
	overflow-y: scroll;
	overflow-x: hidden;
}
.oc-content,
.oc-content-inner {
	position: relative;
}
.oc-container {
	position: relative;
	overflow: hidden;
}
.oc-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	perspective: 1000px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.oc-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
.oc-nav-open .oc-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.oc-nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	overflow-y:scroll;
	width: 300px;
	height: 100%;
	background: #0479bf;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	box-shadow: -3px 0 6px 0 rgba(0,0,0,.2);
}
.oc-nav::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.oc-nav-open .oc-nav::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}


/* ==========================================================================
Effect
========================================================================== */
.oc-effect.oc-nav {
	visibility: visible;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.oc-effect.oc-nav-open .oc-effect.oc-nav {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.oc-effect.oc-nav::after {
	display: none;
}
.lt-ie9 .oc-effect.oc-nav, .lt-ie10 .oc-effect.oc-nav {
	visibility: hidden;
}


/* ==========================================================================
Menu Style
========================================================================== */
#oc-menu ul {
	list-style: none;
	padding: 0;
}
#oc-menu a {
	display: block;
	position: relative;
	line-height: 2em;
	padding: 3px 0 0 36px;
	text-decoration: none;
	outline: 0;
}
#oc-menu .oc-menu-tier-2 {
	display: none;
	font-size: 12px;
	padding-bottom: 12px;
	background-color: #fff;
	box-shadow: inset 0px 4px 4px -2px rgba(0,0,0,0.36);
}
#oc-menu .oc-menu-tier-2 > li > a {
	color: #555 !important;
}
#oc-menu .oc-menu-tier-2 > li > a.crnt {
	background-color: rgba(0,0,0,0.1);
	color: #000 !important;
	cursor: default;
}
#oc-menu .oc-menu-tier-2 > li > a:hover {
	background-color: rgba(0,0,0,0.1);
}
.no-touch #oc-menu a:hover {
	color: #fff;
}


/* ==========================================================================
Menu Item w/subs
========================================================================== */
#oc-menu .with-subs > a {
	position: relative;
	font-size: 15px;
	font-family:"Avenir LT W01 95 Black";
	text-transform: uppercase;
	color: #ddd;
}
#oc-menu .with-subs > a.crnt span {
	color:#ffcb37;
}
#oc-menu .with-subs > a::before {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 22px;
	background: url("../gfx/oc-menu-arrow.svg") no-repeat center center;
	background-size: 8px 11px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
#oc-menu .with-subs > a.submenu-open::before {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}